@import "tailwindcss";
body {
  font-family: 'Outfit', sans-serif;
}

@theme {
  --color-lightGray: #D4D4D4;
  --color-mediumGray: #313234; 
  --color-black: #18191b;
  --color-white: #FFFFFF;
}
@import 'highlight.js/styles/github-dark.css';

@layer base {
 
  body {
    background-color: var(--color-black);
    
  }
  /* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-mediumGray); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: var(--color-mediumGray);  */
  cursor: pointer;
}
}
